.column {
    padding: 10px;
    border: 1px solid #dbdbdb;
    width: 100px;
}

.column_fixed {
    position: sticky;
    left: 0;
}

.column_changed {
    background-color: beige;
}

.column_changing_width {
    border-right: 1px solid green;
}

.column_even {
    background: #f8f8f8;
}

.column_odd {
    background: #ffffff;
}